name: Discord Notification

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  notify-discord:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 2
    
    - name: Send Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      run: |
        # Get latest commit info
        COMMIT_MESSAGE=$(git log -1 --pretty=%B)
        COMMIT_AUTHOR=$(git log -1 --pretty=%an)
        COMMIT_HASH=$(git log -1 --pretty=%H)
        REPO_NAME=${GITHUB_REPOSITORY}
        BRANCH_NAME=${GITHUB_REF#refs/heads/}
        
        # Build JSON payload
        JSON_PAYLOAD=$(jq -n \
          --arg title "New commit pushed to $BRANCH_NAME" \
          --arg description "$COMMIT_MESSAGE" \
          --arg author "$COMMIT_AUTHOR" \
          --arg repo "$REPO_NAME" \
          --arg url "https://github.com/$REPO_NAME/commit/$COMMIT_HASH" \
          '{
            username: "GitHub Bot",
            embeds: [{
              title: $title,
              url: $url,
              description: $description,
              color: 16711985,
              author: { name: $author },
              footer: { text: $repo }
            }]
          }')
        
        # Send to Discord
        curl -H "Content-Type: application/json" \
          -d "$JSON_PAYLOAD" \
          "$DISCORD_WEBHOOK"